mat-list {
  padding: 0;

  mat-list-item {
    height: auto;
    margin: 0.5rem 0;

    &.less-padding {
      padding: 0 0.5rem;
    }

    h6 {
      margin: 0;
      margin-right: 0.75rem;
      display: inline;
      font-size: 0.875rem;
    }

    section {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
  }
}
