<a mat-icon-button aria-label="返回主页" routerLink="/" class="back">
  <mat-icon fontIcon="home_filled"></mat-icon>
</a>

<button
  mat-icon-button
  aria-label="切换全屏"
  class="fullscreen"
  (click)="toggleFullScreen()"
>
  @if (isFullScreen) {
  <mat-icon fontIcon="close_fullscreen"></mat-icon>
  } @else {
  <mat-icon fontIcon="open_in_full"></mat-icon>
  }
</button>

<time>
  {{ time.hours }}
  <span class="colon">
    <span class="dot"></span>
    <span class="dot"></span>
  </span>
  {{ time.minutes }}
</time>
