<div class="app">
  <mat-sidenav-container>
    <mat-sidenav
      #navbar
      [attr.role]="(isMobile | async) ? 'dialog' : 'navigation'"
      [mode]="(isMobile | async) ? 'over' : 'side'"
      [opened]="(isMobile | async) === false"
    >
      <div class="drawer-title-bar">
        <h1>一点微小的工作</h1>
      </div>

      <mat-nav-list>
        @for (nav of navLinks; track $index) {
        <a
          mat-list-item
          [routerLink]="nav.path"
          [activated]="location.isCurrentPathEqualTo(nav.encode)"
        >
          <mat-icon class="material-symbols-outlined" matListItemIcon>
            {{ nav.icon }}
          </mat-icon>
          <span matListItemTitle>{{ nav.name }}</span>
        </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-toolbar></app-toolbar>
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
