<div class="container">
  <mat-toolbar
    color="primary"
    [class.mat-elevation-z4]="!navbar.opened || !(media.isHandset | async)"
    [class.mat-elevation-z8]="navbar.opened && (media.isHandset | async)"
  >
    <button mat-icon-button aria-label="切换导航栏" (click)="navbar.toggle()">
      <mat-icon fontIcon="menu"></mat-icon>
    </button>
    <h1>一点微小的工作</h1>
    <span class="spacer"></span>
    <a mat-icon-button aria-label="时钟" routerLink="时钟">
      <mat-icon fontIcon="schedule"></mat-icon>
    </a>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav
      #navbar
      [attr.role]="(media.isHandset | async) ? 'dialog' : 'navigation'"
      [mode]="(media.isHandset | async) ? 'over' : 'side'"
      [opened]="(media.isHandset | async) === false"
    >
      <mat-nav-list>
        @for (route of routes; track $index) {
        <a
          mat-list-item
          [routerLink]="route.path"
          [class.active]="isActive(route.path)"
        >
          <mat-icon matListItemIcon [fontIcon]="route.data['icon']"></mat-icon>
          <span matListItemTitle>{{ route.data["name"] }}</span>
        </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
